@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');

.cards-container {
    height: 65vh;
    width: 95vw; 
    padding: 1rem; 
    margin: 1rem auto;
    overflow: scroll; 
	overflow-y: visible;
    overflow-x: hidden;
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
} 


/* CUSTOM scrollbar */
.cards-container::-webkit-scrollbar {
    width: 1rem;
}
.cards-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.cards-container::-webkit-scrollbar-thumb {
    outline: 1px solid rgba(255, 123, 0, 0.49);
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    border-radius: 100px;
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}


@media only screen and (max-width: 768px) {
    .cards-container {
        height: 55vh;
        width: 92vw; 
        overflow-y: auto; 
    }
}
@media only screen and (max-width: 400px) {
    .cards-container {
        height: 70vh;
        width: 88vw; 
        overflow-y: auto; 
    }
}
@media only screen and (min-width:1440px) {
    .cards-container {
        height: 75vh;
        width: 95vw; 
        overflow-y: auto; 
    }
}